extends ../layout

block content
  .row
    .span3
      h2 Stats
      br
      h4 Estimations
      hr
       //show requirement estimations
      |Lines of Code
      !{requirement.estimation.loc}
      br
      |Function Point
      !{requirement.estimation.FP}
      br
      |Time
      !{requirement.estimation.time}
      br
      |Start Date
      !{requirement.estimation.date.start}
      br
      |End Date
      !{requirement.estimation.date.end}
      h4 Actual
      hr
      |Lines of Code
      !{requirement.actual.loc}
      br
      |Time
      !{requirement.actual.time}
      br
      |Start Date
      !{requirement.actual.date.start}
      br
      |End Date
      !{requirement.actual.date.end}
    .span9.center-align
      table.table
        tr
          th Work Description
          th Start Time
          th Hours Worked
        each reqUser in requirement.users
          each workItem in reqUser.work
            tr
              td !{workItem.desc}
              td !{workItem.date}
              td !{workItem.time}
      form(action="/projects/#{project.name}/requirements/#{requirement.name}/users/#{user.username}/work", method="post")
        label(for='description') Work Description
        input(type="text", name="description")
        label(for='date') Start Time
        input(type="text", name="date")
        label(for='time') Time worked in hrs
        input(type="text", name="time")
        br
        button(type="submit", class='btn btn-primary') Add 
  
  //show requirement users actual and estimated data
  
  //if user is part of requirement or manager allow them to input effort
  
  // if manager add user to requirement form